.static {
    position:absolute;
    background: white;
  }
  
  .static:hover {
    opacity:0;
  }

  @font-face {
    font-family: 'DeadStock';
    src: url('DeadStock.ttf');
  }

h1, h2, h3 {
      font-family: 'DeadStock', 'Arial', 'serif';
      letter-spacing: .1em;
  }
  